* {
    font-family: 'Lato', sans-serif;
}
html {
    height: 100%;
}
body {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,0382c6+100 */
background: #258dc8; /* Old browsers */
background: -moz-linear-gradient(top, #258dc8 0%, #0382c6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #258dc8 0%,#0382c6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #258dc8 0%,#0382c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#0382c6',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
height: 100%;
overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Black Han Sans', sans-serif;
}

input[type="text"]{
    padding: 1.4rem;
    font-size: 1.4rem;
    color: #495057;
}


.tweet-delete-icon {
    cursor: pointer;
}

.tweet-delete-icon:hover {
    color:red;
}

.box-shadow {
    -webkit-box-shadow: 2px 2px 17px 3px rgba(28,28,28,1);
    -moz-box-shadow: 2px 2px 17px 3px rgba(28,28,28,1);
    box-shadow: 2px 2px 17px 3px rgba(28,28,28,1);
}